/*Styles from payments page*/
#btnSearch{
    background-color: var(--rose-color);
    border-color: var(--rose-color);
}

/*Progress Bar*/

.progress-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin: 3rem 0 4rem 0;
}

.progress-bar::before, .progress{
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--gray-color);
}

.progress{
    background-color: var(--rose-color);
}

.progress-step{
    width: 80px;
    height: 80px;
    background-color: var(--gray-color);
    z-index: 2;
    padding-top: 15px;
}

.progress-step data-title{
    display: block;
}

.active-step{
    background-color: var(--rose-color);
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% * 0.75rem);
    font-size: 1rem;
    color: var(--dark-color);
}

.bar-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -60px 0px;
}

.bar-info p:nth-child(3){
    padding-left: 30px;
}

/*Forms*/
.process-wrapper{
    margin: auto;
    max-width: 800px;
}

.form-design{
    border: 1px solid var(--gray-color);
    margin: 100px 10px 10px 10px;
    padding: 50px;
    border-radius: 3px;
    text-align: left;
    display: none;
}

.phone-input{
    display: block;
}

.btn-position{
    margin-left: 50%;
}

.btn-primary{
    background-color: var(--rose-color);
    border: none;
    border-radius: 1px;
    width: 90%;
}

.btn-primary:hover{
    background-color: #bd3b3b;
}

.btn-secondary{
    border-radius: 3px;
    padding: 7px 50px;
}

.btn-group{
    display: inline-flex;
    width: 50%;
    margin-left: 50%;
    margin-top: 20px;
}

.active-form{
    display: block;
    animation: animate 0.5s;
}

@keyframes animate{
    from{
        transform: scale(1, 0);
        opacity: 0;
    }
    to{
        transform: scale(1, 1);
        opacity: 1;
    }
}